# MySQL
MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=changeme
MYSQL_DB=sicar

# Carpeta de archivos Excel (opcional)
# DATA_FOLDER=/absolute/path/to/SicarData

# UI
APP_LOG_LEVEL=INFO
# MAX_PREVIEW_ROWS=50000
